body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #23242a;
}
video{
    position: fixed;
    top: -7%;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
}
/*
    Perfil de usuario
*/
.Perfil{
    position:fixed;
    top: 50px;
    left: 26px;
    width: 400px;
    height: 600px;
    background: #1a1919;
    border-radius: 8px;
    overflow:hidden;
    opacity: 0.9;
}
.Logo{
    position: relative;
    top: 30px;
    left: 12%;
    width: 300px;
    height: 300px;
    background: #007396;
    border-radius: 500px;
    overflow:hidden;
}
.Logo img{
    position: absolute;
    top: -38px;
    left: -187px;
    z-index: 1;
    width: calc(100% - -380px);
    height: calc(100% - -100px);
}
.Usuario{
    position:relative;
}
.Name{
    color: #ffffff;
    padding: 0px 132px;
    font-size: 30px;
}
.Descripcion{
    color: #d3d3d3;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a
{
    margin: 10px 20;
    font-size: 1.50em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover{
    font-size: 1.60em;
}
.links a:nth-child(2){
    color: #ff0000;
}
.links a:nth-child(1){
    color: #0084ff;
}
.links a:nth-child(3){
    color: #ffffff;
}

/*
    Contenido de la pagina.
*/

.Contenido{
    position:fixed;
    top: 50px;
    left: 24%;
    width: 1000px;
    height: 800px;
    background: #1a1919;
    border-radius: 8px;
    overflow:hidden;
    opacity: 0.9;
}
.Contenido h2{
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}
/*
    Contenido 1.
*/
.Mi_Escritorio{
    position: absolute;
    background: #172e35;
    left: 5%;
    width: 900px;
    height: 120px;
    border-radius: 8px;
    overflow:hidden;
}
.Mi_Escritorio a{
    margin: 10px 50;
    font-size: 1.80em;
    color: #ffffff;
    text-decoration: none;
}
.Mi_Escritorio a:hover{
    color: #3d98ee;
}
.Mi_Escritorio h4{
    margin: 10px 50;
    color: antiquewhite;
}
